@import "styles/variables";

.day_plan_container{

  margin-top: 50px;
  z-index: 10;
  top: 0;
  left: 0;
  @include animation;
  display: flex;
  justify-content: center;
  align-items: center;


}
