//PT Sans
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//Raleway
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


$blue : #2d30fa;
$white: rgba(#fff, .75);
$lightgraybg: rgba(#ccc,.5);
$lavander: #CCC9DC;
$charcoal:#324A5F;
$deepblue:#1B2A41;
$rblack: #0C1821;
$red: #92140C;
$green: #548C2F;

@mixin fontFamily{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@mixin h1{
  @include fontFamily;
  font-size: 48px;
}
@mixin h2 {
  @include fontFamily;
  font-size: 40px;
}
@mixin h3 {
  @include fontFamily;
  font-size: 32px;
}
@mixin h4 {
  @include fontFamily;
  font-size: 24px;
}
@mixin h5 {
  @include fontFamily;
  font-size: 20px;
}
@mixin h6 {
  @include fontFamily;
  font-size: 16px;
}
@mixin h7 {
  @include fontFamily;
  font-size: 12px;
}

@mixin animation {
  transition: all ease-in-out .5s ;
}
